.container {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.wrapper {
    display: flex;
    margin: 10px auto;
}
.wrapper button {
    margin-right: 15px;
    background-color: white; 
    border: 1px solid black;
    height: 3em;
    width: 180px;
}