.container {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.inputWrapper {
    margin: 100px auto 0 auto;
}
.inputWrapper input {
    display: block;
    height: 40px;
    width: 100%;
    margin: 0 auto;
}

  